// Text Colors
$TextColor1: #333333;
$TextColor2: #ffffff;
//Main Colors
$MainColor1: #6E551B;
$MainColor2: #3C2F10;
//Base Colors
$BaseColor1: #ffffff;
$BaseColor2: #E2DDD1;
// Accent Colors
$AccentColor1: #23460F;
//Overlay Colors
$OverlayColor1: rgba(60, 47, 16, 0.3);
$OverlayColor2: rgba(255, 255, 255, 0.85);

//Font Variables
$caslon:"Libre Caslon Text";
$serif:"Noto Serif JP";
$sans:"Noto Sans JP";
